ManageMyNotificationsBusinessLayer/Connected Services/inContactSalesforceService/InContact.Sfdc.Domain.ContentLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InContact.Sfdc.Domain.ContentLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InContact.Sfdc.Domain.ContentLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSupportDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupportDocument" nillable="true" type="tns:SupportDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupportDocument" nillable="true" type="tns:ArrayOfSupportDocument" />
  <xs:complexType name="SupportDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathOnClient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportSiteCategory__c" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportSiteSubCategory__c" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupportDocument" nillable="true" type="tns:SupportDocument" />
</xs:schema>