ManageMyNotificationsBusinessLayer/Connected Services/inContactSalesforceService/InContact.Sfdc.Domain.CSO1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InContact.Sfdc.Domain.CSO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InContact.Sfdc.Domain.CSO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/InContact.Sfdc.Domain" />
  <xs:complexType name="ArrayOfRecentOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecentOrder" nillable="true" type="tns:RecentOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecentOrder" nillable="true" type="tns:ArrayOfRecentOrder" />
  <xs:complexType name="RecentOrder">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InContact.Sfdc.Domain" minOccurs="0" name="Children" nillable="true" type="q1:SubqueryRecord" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecentOrder" nillable="true" type="tns:RecentOrder" />
  <xs:complexType name="ArrayOfLineItemUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineItemUpdate" nillable="true" type="tns:LineItemUpdate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineItemUpdate" nillable="true" type="tns:ArrayOfLineItemUpdate" />
  <xs:complexType name="LineItemUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderErrorDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderLineItemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecificItem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineItemUpdate" nillable="true" type="tns:LineItemUpdate" />
</xs:schema>