ManageMyNotificationsBusinessLayer/Connected Services/inContactSalesforceService/InContact.Sfdc.Domain.AccountSearch.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InContact.Sfdc.Domain.AccountSearch" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InContact.Sfdc.Domain.AccountSearch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/InContact.Sfdc.Domain" />
  <xs:simpleType name="SortDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ascending" />
      <xs:enumeration value="Descending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortDirection" nillable="true" type="tns:SortDirection" />
  <xs:simpleType name="AccountSortColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="AccountType" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountSortColumn" nillable="true" type="tns:AccountSortColumn" />
  <xs:complexType name="ArrayOfAccountRecordType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountRecordType" type="tns:AccountRecordType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountRecordType" nillable="true" type="tns:ArrayOfAccountRecordType" />
  <xs:simpleType name="AccountRecordType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Customers" />
      <xs:enumeration value="WFOPremiseCustomer" />
      <xs:enumeration value="ResellCustomers" />
      <xs:enumeration value="ResellPartner" />
      <xs:enumeration value="MasterAgents" />
      <xs:enumeration value="InCloudDevelopmentPartner" />
      <xs:enumeration value="WFOPremisePartner" />
      <xs:enumeration value="SubAgents" />
      <xs:enumeration value="Partners" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountRecordType" nillable="true" type="tns:AccountRecordType" />
  <xs:complexType name="AccountSearchResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InContact.Sfdc.Domain" minOccurs="0" name="MatchingAccounts" nillable="true" type="q1:ArrayOfAccount" />
      <xs:element minOccurs="0" name="TotalSearchResults" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountSearchResult" nillable="true" type="tns:AccountSearchResult" />
</xs:schema>