ManageMyNotificationsBusinessLayer/Connected Services/inContactSalesforceService/InContact.Sfdc.Domain.IS_Reports1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InContact.Sfdc.Domain.IS_Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InContact.Sfdc.Domain.IS_Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProjectData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompletedPoints" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalStoryPoints" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectData" nillable="true" type="tns:ProjectData" />
</xs:schema>